/* full PC */
@media (min-width: 76.875em){
    .checkbtn{
        display: none;
    }
}

@media (min-width: 64em) and (max-width:  76.25em){
    .checkbtn{
        display: none;
    }
    .header__navbar-none{
        padding-left: 0;
    }

}
/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em){
    .header{
        height: 50px;
        /* display: flex; */
        align-items: center;
        justify-content: center;
    }
    .header__navbar{
        height: 50px;
        padding: 0;
        margin: 0 0 0 150px;
        display: block;
        min-width: 100%;
    }
    .header__navbar-none{
        display: none;
    }
    .header__navbar-item{
        display: inline-block;
    }
    .header__navbar-bars{
        float: left;
        margin-left: 20px;
    }
    .checkbtn:hover{
        cursor: pointer;
    }
    .header__logo{
        margin: 0; 
        display: inline-flex;

    }
    .header__navbar-logo{
        padding-top: 12px;
    }
    .header__margin-none{
        margin: 0 0 0 90px;
        padding: 0;
        max-height: 100%;
        display: inline-flex;
    }
}
/* Mobile */
@media (max-width: 46.1875em){

}

.checkbtn{
    color: #ccc;
    font-size: 23px;
    /* display: none; */
}

#check{
    display: none;
}